/* -- Keyframes -- */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {  
  text-align: center;
  background-image: url("assets/images/apples-on-ground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.navbar a {
  text-decoration: none;
  color: #f4f0e8;
  font-size: 1rem;
  font-weight: bold;
}

/* Navbar */
.navbar { 
  position: sticky !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;

  background: linear-gradient(0deg, #f4f0e8,
    #ce3f01,
    #a33201,
    #a33201,
    #a33201,
    #a33201,
    #ce3f01,
    #f4f0e8);
  box-sizing: border-box;
  z-index: 10;
}

.navbar-links a:hover,
.navbar-links a.active {
  font-size: 1.1rem;
  color: #FFCC66;
  text-decoration: underline;
}

.navbar-home {
  position: static;
}

.navbar-home a {
  float: left;
}

.logo-img { 
  height: 4rem;
  border-radius: 50%;
  margin: 0.5rem 1rem 0 3rem;
}

.navbar-title,
.navbar-title.a {
  color: #f4f0e8;
}

.navbar-title:hover,
.navbar-title.active {  
  font-size: 1.1rem;
  color: #FFCC66;
  text-decoration: underline;
}

.navbar-links {
  position: static;
  margin-right: 3rem;
  background: linear-gradient(0deg, #f4f0e8,
  #ce3f01,
  #a33201,
  #a33201,
  #a33201,
  #a33201,
  #ce3f01,
  #f4f0e8);
}

.navbar-links a {
  display: inline-block;
  padding: 15px 20px;
  animation: none;
} 

.navbar-links li {
  display: inline;
  list-style: none;
}

.toggle-btn {
  display: none;
}

/* home page */
.home-page {
  position: relative;
  height: auto;
  width: auto;
}

.home-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
  margin: 1rem 0.5rem;
}

.home-about {
  position: relative;
  text-align: justify;
  max-width: 60%;
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 1rem 0.5rem;
}

.home-about-img {
  position: relative;
  height: 400px;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
  margin: 1rem 0.5rem 1rem 1rem;
}

.red-img {
  position: relative;
  height: 400px;  
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
  margin: 1rem 1rem 1rem 0.5rem;
}

.home-middle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 1rem 0.5rem;
}

.home-article {
  position: relative;
  margin: 1rem 0.5rem;
  color: #a33201;
  background-color: #bbb157;
  width: 33rem;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-article-img {
  width: 33rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
    0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.home-articles {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #a33201;
  background-color: #bbb157;
  width: 33rem;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-articles a {
  text-decoration: none;
  color: #a33201;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-articles a:hover,
.home-articles a.active {
    font-size: 1.3rem;
    color: #8d2a00;
    text-decoration: underline;
}

.home-article-card {
  border-radius: 5px; /* 5px rounded corners */
  box-shadow:  0 0 0 0 (225, 225, 225, 0.1), 
  0 5px 5px 5px rgba(223, 189, 105, 0.934),
  0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-article-title {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0 0 2rem 0;
}

.home-article-text {
  position: relative;
  text-align:justify;
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 1rem 3rem;
}

.home-poem {
  position: relative;
  margin: 1rem 0.5rem;
  background-color: #bbb157;
  width: 33rem;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-poem-text {
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  color: #a33201;
  background-color: #bbb157;
  width: 33rem;
}

.home-poems {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #a33201;
  background-color: #bbb157;
  width: 100%;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-poems a {
  text-decoration: none;
  color: #a33201;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-poems a:hover,
.home-poems a.active {
    font-size: 1.3rem;
    color: #8d2a00;
    text-decoration: underline;
}

.home-poem-title {
  text-align: center;
  color: #a33201;
  font-size: 1.2rem;
  font-weight: 600;
}

/* -- Video -- */

.home-video-olga-wrap {
  position: relative;
  margin: 1rem 0.5rem 1rem 0.5rem;
  width: 46rem;
  height: auto;
}

.home-video-movie {
  position: relative;
  margin-top: 3rem;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(255, 222, 138, 0.934);
}

.home-video-movie iframe { 
  aspect-ratio: 16 / 9;
  width: 100%;
}

.home-videos {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0 1.5rem 0;
  color: #a33201;
  background-color: #bbb157;
  width: 46rem;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-videos a {
  text-decoration: none;
  color: #a33201;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-videos a:hover,
.home-videos a.active {
    font-size: 1.3rem;
    color: #8d2a00;
    text-decoration: underline;
}

.home-video-olga {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

video {
  width: 100%;
  height: auto;
}

/* movie page */
#movies {
  margin: 3rem 0.5rem 0 0.5rem;
  height: 50px;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movies-page {
  position: relative;
  min-height: 100vh;
  width: auto;
  margin: 1rem 0 0 0;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 1rem 0.5rem 1.5rem 0.5rem;
}

.movie {
  height: 282px;
  margin-right: 0.7rem;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
      0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-title {
  margin: 1rem 0.5rem 0 0.5rem;
  height: 50px;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-description {
  flex: 50%;
  height: auto;
  color: #a33201;
  justify-items: end;
  font-size: 1.2rem;
  background-color: #c1ba6c;
    box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
      0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-about {
  margin: 1rem 0.5rem;
  font-size: 1.4rem;
  color:#a33201
}

.movie-details {
  display: flex;
}

.movie-details ul {
  flex: 1;
  list-style: none;
  text-align: start;
}

@media (max-width: 992px) { 
  .home-top {
    justify-content: center;
  }

  .hide {
    display: none;
  }
  
  .navbar { 
    position: sticky !important;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    min-height: 5rem;
    background: linear-gradient(90deg,#a33201,#a33201,#a33201,#ce3f01,#E0C9A6);
    z-index: 5;
  }

  .navbar-links {
    position: fixed;  
    top: 5rem;  
    height: auto;
    min-width: 20rem;
    background: linear-gradient(0deg,#f4f0e8,#ce3f01,#a33201,#a33201,#a33201,#a33201,#a33201);
  }

  .navbar-links a {
    display: block;
    text-align: center;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
      justify-content: center;
      display: flex;
      font-size: 1.1rem;
      color: #FFCC66;
      text-decoration: underline;
  }

  .toggle-btn {
    padding-right: 20px;
    cursor: pointer;
    display: block;
    margin-right: 1.5rem;
    color: #f4f0e8;
    animation: fade-in-from-top 0.5s;
  }
}  

@media (max-width: 854px) { 
  .home-top {
    justify-content: center;
  }

  .hide {
    display: none;
  }
  
  .navbar { 
    position: sticky !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    min-height: 5rem;
    background: linear-gradient(90deg,#a33201,#a33201,#a33201,#ce3f01,#E0C9A6);
    z-index: 10;
  }

  .navbar-links {
    position: fixed;    
    top: 5rem;
    min-width: 12rem;
    background: linear-gradient(0deg,#f4f0e8,#ce3f01,#a33201,#a33201,#a33201,#a33201,#a33201);
  }
  
  .navbar-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 1.5rem;
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
    font-size: 1.1rem;
    color: #FFCC66;
    text-decoration: underline;
  }

  .toggle-btn {
    font-size: 1rem;
    padding-right: 20px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: #f4f0e8;
  }
}  


/* Footer */
.footer {
  display: flexbox;
  padding-top: 0.5rem;
  color: #f4f0e8;
  background: linear-gradient(0deg, #f4f0e8,
        #ce3f01,
        #a33201,
        #a33201,
        #a33201,
        #a33201,
        #ce3f01,
        #f4f0e8);
  height: 5rem;
  width: auto;
  bottom: 0;
}

.singleCol {
  width: 140px;
  height: 2rem;
  margin: auto;
}

.social-media-icons-white a {
  color: #f4f0e8;
  font-size: 2rem;
}

.social-media-icons-white a:hover {
  color: grey;
  font-size: 2rem;
}

.social-media-icons-white a::after {
  color: grey;
  font-size: 2rem;
}
