/* -- Keyframes -- */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {  
  text-align: center;
  background-image: url("assets/images/apples-on-ground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #f4f0e8;
  font-size: 1rem;
  font-weight: bold;
}

/* home page */
#home {
 
}

.home-page {
  position: relative;
  height: 100%;
  width: auto;
}

.home-top {
  position: relative;
  margin: 1rem 0.5rem;
}

.home-about {
  min-height: 27rem;
  width: auto;
  height: auto;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.home-about-text-first {
  width: 100%;
  text-align: justify;
  padding: 1rem 10rem 1rem 12rem;
  font-size: 1.3rem;
  line-height: 1.6;
}

.home-about-img {
  float: right;
  margin-top: 0.8rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: 400px;
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

.red-img {
  float: left;
  margin-top: 0.8rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  width: auto;
  max-height: 400px;  
  box-shadow:  0 -5px 5px 5px rgba(223, 189, 105, 0.934), 
               0 5px 5px 5px rgba(223, 189, 105, 0.934),
               0 2px 5px 10px rgba(0, 0, 0, .6);
}

/* -- Video -- */
.video-olga-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  width: 35rem;
  height: auto;
  margin: 2rem auto;
}

.video-olga {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

video {
  width: 100%;
  height: auto;
}


/* movie page */

/* Movies */
#movies {
  margin: 3rem 0.5rem 0 0.5rem;
  height: 50px;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movies-page {
  position: relative;
  min-height: 100vh;
  width: auto;
  margin: 1rem 0 0 0;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 1rem 0.5rem 1.5rem 0.5rem;
}

.movie {
  height: 282px;
  margin-right: 0.7rem;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
      0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-title {
  margin: 1rem 0.5rem 0 0.5rem;
  height: 50px;
  color: #a33201;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
              0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-description {
  flex: 50%;
  height: auto;
  color: #a33201;
  justify-items: end;
  font-size: 1.2rem;
  background-color: #c1ba6c;
    box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, 0.934),
      0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.movie-about {
  margin: 1rem 0.5rem;
  font-size: 1.4rem;
  color:#a33201
}

.movie-details {
  display: flex;
}

.movie-details ul {
  flex: 1;
  list-style: none;
  text-align: start;
}


/* Navbar */
.navbar { 
  position: sticky !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  min-height: 5rem;
  background: linear-gradient(0deg, #f4f0e8,
    #ce3f01,
    #a33201,
    #a33201,
    #a33201,
    #a33201,
    #ce3f01,
    #f4f0e8);
  box-sizing: border-box;
  z-index: 10;
}

.navbar a:hover {
  background-color: #db6c3c;
  border-radius: 5px;
  border-bottom: 0.2rem solid transparent;
  border-color: #f4f0e8;
}

.navbar-links a.active {
  display: flex;
  justify-content: center;
  background-color: #db6c3c;    
  border-radius: 5px;
  border-bottom: 0.2rem solid transparent;
  border-color: #f4f0e8;
}

.navbar-home {
  position: static;
}

.navbar-home a {
  float: left;
}

.navbar-links a {

}

.logo-img { 
  height: 4rem;
  border-radius: 50%;
  margin: 0.5rem 1rem 0 3rem;
  animation: fade-in-from-top 0.5s;
}

.navbar-title,
.navbar-title.a {
  color: #f4f0e8;
  animation: fade-in-from-top 0.5s;
}

.navbar-title.active {
  background-color: #db6c3c;    
  border-radius: 5px;
  border-bottom: 0.2rem solid transparent;
  border-color: #f4f0e8;
}

.navbar-links {
  position: static;
  margin-right: 3rem;
  background: linear-gradient(0deg, #f4f0e8,
  #ce3f01,
  #a33201,
  #a33201,
  #a33201,
  #a33201,
  #ce3f01,
  #f4f0e8);
  animation: fade-in-from-top 0.5s;
}

.navbar-links a {
  display: inline-block;
  padding: 15px 20px;
} 

.navbar-links li {
  display: inline;
  list-style: none;
}

.toggle-btn {
  display: none;
}

@media (max-width: 992px) { 
  .home-about-text-first {
    padding: 1rem;
  }

  .hide {
    display: none;
  }
  
  .navbar { 
    position: sticky !important;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    min-height: 5rem;
    background: linear-gradient(90deg,#a33201,#a33201,#a33201,#ce3f01,#E0C9A6);
    z-index: 5;
  }

  .navbar-links {
    position: fixed;  
    top: 5rem;  
    height: auto;
    min-width: 20rem;
    background: linear-gradient(0deg,#f4f0e8,#ce3f01,#a33201,#a33201,#a33201,#a33201);
  }

  .navbar-links a {
    display: block;
    text-align: center;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
  }
  
  .navbar-links a:hover {
      background-color: #db6c3c;
      justify-content: center;
      display: flex;
      border-radius: 5px;
  }

  .toggle-btn {
    padding-right: 20px;
    cursor: pointer;
    display: block;
    margin-right: 1.5rem;
    color: #f4f0e8;
    animation: fade-in-from-top 0.5s;
  }
}  

@media (max-width: 854px) { 
  .home-about-text-first {
    padding: 1rem;
    clear: both;
  }

  .hide {
    display: none;
  }
  
  .navbar { 
    position: sticky !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    min-height: 5rem;
    background: linear-gradient(90deg,#a33201,#a33201,#a33201,#ce3f01,#E0C9A6);
    z-index: 10;
  }

  .navbar-links {
    position: fixed;    
    top: 5rem;
    min-width: 12rem;
    background: linear-gradient(0deg,#f4f0e8,#ce3f01,#a33201,#a33201,#a33201,#a33201);
  }
  
  .navbar-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar-links a:hover {
    background-color: lightcoral;
  }

  .toggle-btn {
    padding-right: 20px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: #f4f0e8;
    animation: fade-in-from-top 0.5s;

  }
}  


/* Footer */
.footer {
  display: flexbox;
  padding-top: 0.5rem;
  bottom: 0;
  color: #f4f0e8;
  background: linear-gradient(0deg, #f4f0e8,
        #ce3f01,
        #a33201,
        #a33201,
        #a33201,
        #a33201,
        #ce3f01,
        #f4f0e8);
  height: 5rem;
  width: auto;
}

.singleCol {
  width: 140px;
  height: 2rem;
  margin: auto;
}

.social-media-icons-white a {
  color: #f4f0e8;
  font-size: 2rem;
}

.social-media-icons-white a:hover {
  color: grey;
  font-size: 2rem;
}

.social-media-icons-white a::after {
  color: grey;
  font-size: 2rem;
}
