/* -- Keyframes -- */
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
    box-sizing: border-box;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body { 
  background: url("assets/images/apples-on-ground.jpg") no-repeat fixed;
  background-size: cover;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;  
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.28571429em;
  margin-top: 1.3rem;  
  padding: 0;
}

/* Navbar */
.logo-img {
  border-radius: 50%;
  height: 4rem;
  margin: .5rem 1rem 0 3rem;
}

.navbar { 
  align-items: center;
  background: linear-gradient(0deg, #f4f0e8,
        #ce3f01,
        #a33201,
        #a33201,
        #a33201,
        #a33201,
        #ce3f01,
        #f4f0e8);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: sticky !important;  
  top: 0;  
  z-index: 10;
}

.navbar-home {
  position: static;
}

.navbar-home a {
  float: left;
}

.navbar-links {
  background: linear-gradient(0deg, #f4f0e8,
      #ce3f01,
      #a33201,
      #a33201,
      #a33201,
      #a33201,
      #ce3f01,
      #f4f0e8);
  margin-right: 3rem;
  position: static;
}

.navbar-links a {
  animation: none;
  color: #f4f0e8;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none; 
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #FFCC66;
  font-size: 1.2rem;  
  text-decoration: underline;
}

.navbar-links li {
  display: inline;
  list-style: none;
}

.navbar-title,
.navbar-title a {
  color: #f4f0e8;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1.3rem;
  text-decoration: none; 
}

.navbar-title.active, 
.navbar-title:hover {  
  font-size: 1.4rem;
  color: #FFCC66;
  padding-top: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
}

.toggle-btn {
  display: none;
}

/* home page */
.home-about {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 2rem .5rem 1rem .5rem;
  position: relative;
  text-align: left;
  width: 60%;
}

.home-about-img {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
  height: 30rem;
  margin: 1rem .5rem 1rem 1rem;
  position: relative;
  width: auto;
}

.home-article {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
  color: #7d2600;
  margin: 1rem .5rem;
  position: relative;
  width: 33rem;
}

.home-article-card {
  border-radius: 5px;
  /* 5px rounded corners */
  box-shadow: 0 0 0 0 (225, 225, 225, .1),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
}

.home-article-img {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
  width: 33rem;
}

.home-article-text {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  position: relative;
  text-align: justify;
}

.home-article-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0 2rem 0;
}

.home-articles {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
  color: #7d2600;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 33rem;
}

.home-articles a {
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-articles a:hover,
.home-articles a.active {
  color: #8d2a00;
  font-size: 1.3rem;
  text-decoration: underline;
}

.home-img {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
  height: 30rem;
  margin: 1rem 1rem 1rem .5rem;
  position: relative;
}

.home-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem .3rem;
  position: relative;
  width: 100%;
}

.home-page {
  height: auto;
  position: relative; 
  width: auto;
}

.home-photo-img {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934),
    0 2px 5px 10px rgba(0, 0, 0, .6);
  width: 43rem;
}

.home-photos {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(223, 189, 105, .934),
      0 2px 5px 10px rgba(0, 0, 0, .6);
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 3rem;
  padding: 1rem 0;  
  width: 43rem;  
}

.home-photos a {
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.home-photos a.active,
.home-photos a:hover {
    color: #8d2a00;
    font-size: 1.3rem;    
    text-decoration: underline;
}

.home-poem {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(223, 189, 105, .934),
      0 2px 5px 10px rgba(0, 0, 0, .6);
  margin: 1rem .5rem;
  position: relative;  
  width: 33rem;
}

.home-poem-text {
  background-color: #bbb157;
  color: #7d2600;
  font-size: 1.5rem;
  line-height: 1.6;
  position: relative;
  text-align: center; 
  width: 33rem;
}

.home-poem-title {
  color: #7d2600;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.home-poems {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(223, 189, 105, .934),
      0 2px 5px 10px rgba(0, 0, 0, .6);
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 1rem 0;  
  width: 100%; 
}

.home-poems a {
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.home-poems a:hover,
.home-poems a.active {
    color: #8d2a00;
    font-size: 1.3rem;    
    text-decoration: underline;
}

.home-top {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
  color: #7d2600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem .5rem;
  position: relative;
}

/* -- Video -- */
.home-video-olga-wrap {
  height: auto;
  margin: 1rem 0;
  position: relative;
  width: 43rem;  
}

.home-video-movie {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(255, 222, 138, .934);
  margin-top: 3rem;
  position: relative;  
}

.home-video-movie iframe { 
  aspect-ratio: 16 / 9;
  width: 100%;
}

.home-video-olga {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
}

.home-videos {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(223, 189, 105, .934),
      0 2px 5px 10px rgba(0, 0, 0, .6);
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0 1.5rem 0; 
  width: 43rem;  
}

.home-videos a {
  color: #7d2600;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.home-videos a.active,
.home-videos a:hover {
    color: #8d2a00;
    font-size: 1.3rem;
    text-decoration: underline;
}

video {
  height: auto;
  width: 100%;
}

/* movies page */
.movie {
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
      0 5px 5px 5px rgba(223, 189, 105, .934);
  height: 315px;
  margin-right: .7rem;
}

.movie-about {
  color: #7d2600;
  font-size: 1.4rem;
  margin: 1rem .5rem;
}

.movie-description {
  background-color: #c1ba6c;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
  color: #7d2600;
  flex: 50%;
  font-size: 1.2rem;
  height: auto;
  justify-items: end;
}

.movie-details {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.4;
  padding-left: 1rem;
}

.movie-details ul {
  flex: 1;
  list-style: none;
  text-align: start;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: .5rem;
}

.movie-title {
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
  color: #7d2600;
  height: 7rem;
  padding: 1.3rem 0;
}

.movie-title h2,
.movie-title h3 {
  margin: 0;
  padding-bottom: .8rem;
}

#movies {
  margin: 3rem .5rem 0 .5rem;
  height: 50px;
  color: #7d2600;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
              0 5px 5px 5px rgba(223, 189, 105, .934);
}

.movies-page {
  height: 100vh;
  margin: 1rem 0 0 0;
  position: relative;
  width: auto;
}

/*poems page*/
.page-with-navbar {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.poems {
  position: relative;
  min-height: 100vh;
  margin: 0 1rem 3.5rem 0;
  width: 80vw;
}

.poems-section {
  margin-bottom: 2rem;  
}

.card-poems {
  position: relative;
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  padding-top: .3rem;
  font-size: 1.1rem;
}

.card-poems-move {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-bottom: -3rem;
  font-size: 1.1rem;
}

.card-poem {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .1) 0px -3em 3em inset, rgb(255, 255, 255) 0px 0px 0px 2px, rgba(0, 0, 0, .3) .3em .3em 1em;
}

.cards-interrior-link {
  margin-top: 5.5rem;
}

.poems-title {
  display: flex;
  color: #7d2600;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  background-color: rgb(224, 201, 166);
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.card-poem-text {
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #7d2600;
  line-height: 1.6;
  margin: 0 .2rem .2rem .2rem;
  background-color: #f4f0e8;
}

/*ruspoems page*/
.ruspoems {
  position: relative;
  min-height: 100vh;
  margin: 0 1rem 3.5rem 0;
  width: auto;
}

/* -- Sidebar -- */
.poems-list-title {
  position: fixed;
  display: flex;
  align-items: center;
  color: #f4f0e8;
  width: 236px;
  height: 50px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  z-index: 10;
  background: linear-gradient(90deg,
        #a33201,
        #a33201,
        #a33201,
        #ce3f01,
        #E0C9A6)
}

.poems-list {
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  margin-top: 60px;
  height: 70vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(90deg, 
        #a33201,
        #a33201,
        #ce3f01,
        #E0C9A6)
}

section.sidebar-links {
  padding-top: 0;
  animation: fade-in-from-left .5s;
}

.sidebar-links {
position: fixed;
text-align: left;
margin: 0 0 -80px 0;
top: 4.8rem;
left: 0;
width: 270px;
min-height: 70vh;
color: #f4f0e8;
font-size: 1.2rem;
padding: 1rem 0 0 1rem;
transition: transform .5s;
z-index: 5;
background: linear-gradient(90deg,
        #a33201,
        #a33201,
        #ce3f01,
        #E0C9A6)
}

.sidebar-btn {
  position: fixed;
  top: 4.8rem;
  left: 242px;
  width: 28px;
  height: 50px;
  padding-top: 10px;
  font-size: 1.6rem;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #a33201 !important;
  transition: transform .5s;
  animation: fade-in-from-left .5s;
  z-index: 5;
  background: linear-gradient(90deg,
      #E0C9A6,
      #E0C9A6)
}

.sidebar-btn-move {
  transform: translateX(-242px);
  position: fixed;
  display: flex;
  align-items: center;
  width: 40px;
  height: 50px;
  padding-top: 0;
  transition: transform .5s;
  z-index: 2;
}

.sidebar-links-move {
transform: translateX(-100%);
}

.sidebar-link { 
  text-decoration: none;
  outline: none;
  padding-left: 5px;
  padding: 10px 5px;
  color: #f4f0e8 !important;
  transition: all .2s;
}

.sidebar-link:hover {
  display: flex;
  border-radius: 5px; 
  padding: 10px 5px 5px 5px;
  width: 90%;
  font-size: 1.3rem;
  transform: scale(1.00);
  color: #a33201 !important;
  background-color: #E0C9A6 !important;
}

.sidebar-link:focus {
  display: flex;
  border-radius: 5px;
  font-weight: 600;     
  font-size: 1.3rem;
  color: #a33201 !important;
  background-color: #E0C9A6 !important;
}

/*contacts page*/
.contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 1rem 3.5rem 0;
  width: auto;
}

.contact {
  width: 60%;
  color: #7d2600;
  padding: 2rem 0 2rem 0;
  border-radius:  .5rem;
  background-color: #c1ba6c;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
}

.contact h2 {
  margin: 0;
  padding: .5rem 0;
}

.contact-form-frame {
  text-align: center;
  min-height: 80%;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: .5rem;
  padding: 1.2rem;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  width: 100%;
}

.icon {
  padding: 10px;
  background: lightgray;
  color: white;
  min-width: 50px;
  text-align: center;
}

.contact-label {
  font-size: 1.3rem;
  font-weight: 600;
  margin: .5rem auto;
}

.contact-field {
  height: 2rem;
  width: 70%;
  padding-left: .8rem;
  margin-bottom: .5rem;
  border: 1px solid lightgray;
  outline: none;
  border-radius: .375rem;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, .5), 
           inset 10px 10px 15px rgba(70, 70, 70, .12);
}

.contact-field:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, .02);
}

.contact-field:focus {
  border-color: #7d2600;
  background-color: rgb(245, 227, 220);
}

.contact-field-message {
  height: 10rem;
  width: 70%;
  padding-left: .8rem;
  padding-top: .8rem;
  border: 1px solid lightgray;
  border-radius: .375rem;
}

.contact-field-message:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, .02);
}

.contact-field-message:focus {
  border-color: #7d2600;
  background-color: rgb(245, 227, 220);
}

.contact-btn {
  color: #7d2600;
  font-size: 1.1rem;
  font-weight: 600;
  width: 40%;
  height: 2rem;
  margin: 2rem 0;
  border: 1px solid lightgray;
  border-radius: .375rem;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, .02);
}

.contact-btn:hover {
  color:#8a2a01;
  background-color: lightgrey;
  box-shadow: 0px 0px 10px 0px #7d2600;
  width: 41%;
  height: 2.1rem;
}

/*articles page*/
.articles {
  position: relative;
  min-height: 100vh;
  width: auto;
}

.article-section {
  margin: 1rem .5rem;
}

.article-year-section {
  margin-bottom: 1.5rem;
}

.articles-year {
  color: #7d2600;
  background-color: #bbb157;
  margin: 0;
  padding-bottom: .5rem;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
  border-radius: 5px;
}

.article-by-year {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content:space-evenly;
  color: #7d2600;
  font-size: 1.2rem;
  background-color: #c1ba6c;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
}

.article-card {
  min-width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  object-fit: cover;
  color: #7d2600;
  font-size: 1.2rem;
  margin: 1rem;
  padding-top: .3rem;
  border: 1px solid rgba(0,0,0,.175);
  border-radius: .375rem;
  background-color: #f4f0e8;
  box-shadow: rgba(0, 0, 0, .1) 0px -3em 3em inset, rgb(255, 255, 255) 0px 0px 0px 2px, rgba(0, 0, 0, .3) .3em .3em 1em;
}

.article-card-body {
  background-color: #f4f0e8;;
  padding: 1rem;
}

.article-card-text {
  color: #7d2600;
  font-size: 1.1rem;
}

.article-title {
  font-weight: 500;
  color: #7d2600;
  background-color: rgb(224, 201, 166);
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  outline: none;
  padding: .5rem 0;
  border-radius: calc(.375rem - (1px)) calc(.375rem - (1px)) 0 0;
}

.article-title-link {
  color: #7d2600;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  outline: none;
}

.article-title:hover {
  color: #c23c02;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22rem;
  outline: none;
}

.article-img {
  width: 100%;
  margin-bottom: 1.5rem;
  object-fit: cover;
  border-radius: calc(.375rem - (1px)) calc(.375rem - (1px));
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
    0 5px 5px 5px rgba(223, 189, 105, .934);
}

/*photos page*/
.photos {
  position: relative;
  min-height: 100vh;
  width: auto;
}

.photo-section {
  margin: 1rem .5rem 5rem 1rem;
}

.photo-group {
  color: #a33201;
  font-size: 2rem;
  margin-top: 0;
  background-color: #bbb157;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934), 0 5px 5px 5px rgba(223, 189, 105, .934);
  border-radius: 5px;
}

.photo-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  color: #7d2600;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: #c1ba6c;
  box-shadow: 0 -5px 5px 5px rgba(223, 189, 105, .934),
        0 5px 5px 5px rgba(223, 189, 105, .934);
}

.photo-card {
  background-color: #f4f0e8;
  border: 1px solid rgba(0, 0, 0, .175);
  border-radius: .375rem;
  box-shadow: rgba(0, 0, 0, .1) 0px -3em 3em inset, 
              rgb(255, 255, 255) 0px 0px 0px 2px, 
              rgba(0, 0, 0, .3) .3em .3em 1em;
  color: #7d2600;
  display: flex;  
  flex-direction: column; 
  font-size: 1.2rem;
  margin: 1rem;
  padding-top: .3rem;  
  position: relative;
}

.photo-imgV {
  height: 486px;
  object-fit: cover;
  width: auto;
}

.photo-imgH {
  height: auto;
  object-fit: contain;
  width: 490px;
}

@media (max-width: 1200px) { 
  .card-poem {
      width: 70%;
    }
  
  .contact {
    width: 70%;
  }

  .contact-form-frame {
    min-height: 80%;
    width: 60%;
  }

  .hide {
    display: none;
  }

  .home-about-img {
    height: 30rem;
    width: auto;
  }

  .home-red-img {
    height: 50rem;
    width: auto;
  }

  .home-top {
    justify-content: center;
  }
  
  .navbar { 
    align-items: center;
    background: linear-gradient(90deg, #a33201, #a33201, #a33201, #ce3f01, #E0C9A6);
    justify-content: space-between;
    min-height: 5rem;
    position: sticky !important;
    top: 0;    
    width: 100vw;   
    z-index: 5;
  }

  .navbar-links {
    background: linear-gradient(0deg, #f4f0e8, #ce3f01, #a33201, #a33201, #a33201, #a33201, #a33201);
    height: auto;
    min-width: 20rem;
    position: fixed;  
    top: 5rem;  
  }

  .navbar-links a {
    animation: fade-in-from-top .5s;
    display: block;
    text-align: center;
    transition: all .4s;   
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
      color: #FFCC66;
      display: flex;
      font-size: 1.1rem;
      justify-content: center;      
      text-decoration: underline;
  }

  .toggle-btn {
    animation: fade-in-from-top .5s;
    color: #f4f0e8;
    cursor: pointer;
    display: block;
    margin-right: 1.5rem;
    padding-right: 20px;
  }
}

@media (max-width: 500px) { 
  .card-poem {
    width: 80%;
  }

  .contact {
    width: 90%;
  }

  .contact-btn {
    width: 60%
  }

  .contact-btn:hover {
    width: 61%;
  }

  .contact-form-frame {
    min-height: 80%;
    width: 80%;
  }

  .hide {
    display: none;
  }
    
  .home-top {
    justify-content: center;
  }
  
  .navbar { 
    align-items: center;
    background: linear-gradient(90deg, #a33201, #a33201, #a33201, #ce3f01, #E0C9A6);
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
    position: sticky !important;   
    top: 0;    
    width: 100%;
    z-index: 10;
  }

  .navbar-links {
    background: linear-gradient(0deg, #f4f0e8, #ce3f01, #a33201, #a33201, #a33201, #a33201, #a33201);
    min-width: 12rem;
    position: fixed;    
    top: 5rem;   
  }
  
  .navbar-links a {
    display: block;
    margin-bottom: 1.5rem;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
    color: #FFCC66;
    font-size: 1.1rem;   
    text-decoration: underline;
  }

  .toggle-btn {
    color: #f4f0e8;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-right: 20px;   
  } 
}  

@media (max-width: 360px) { 

  .card-poem {
    width: 90%;
  }

  .contact {
    width: 95%;
  }

  .contact-form-frame {
    min-height: 80%;
    width: 90%;
  }

  .contact-btn {
    width: 80%
  }

  .contact-btn:hover {
    width: 81%;
  }

  .hide {
    display: none;
  }

  .home-about {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 80%;
  }

  .home-about-img {
    height: 25rem;
    width: auto;
  }

  .home-red-img {
    height: 40rem;
    width: auto;
  }

  .home-top {
    justify-content: center;
  }

  html,
  body {
    width: auto !important;
    overflow-x: hidden !important
  }

  .logo-img {
    height: 3.5rem;
    margin: .5rem 1rem 0 1rem;
  }
  
  .navbar { 
    align-items: center;
    background: linear-gradient(90deg, #a33201, #a33201, #a33201, #ce3f01, #E0C9A6);
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
    position: sticky !important;   
    top: 0;   
    width: 100%;
    z-index: 10;
  }

  .navbar-links {
    background: linear-gradient(0deg, #f4f0e8, #ce3f01, #a33201, #a33201, #a33201, #a33201, #a33201);
    min-width: 12rem;
    position: fixed;    
    top: 5rem;    
  }
  
  .navbar-links a {
    display: block;
    margin-bottom: 1.5rem;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
    color: #FFCC66;
    font-size: 1.1rem;
    text-decoration: underline;
  }

  .navbar-title:hover,
  .navbar-title.active {  
    color: #FFCC66;
    font-size: 1.2rem; 
    padding-top: 1.3rem;
    text-decoration: underline; 
  }

  .toggle-btn {
    color: #f4f0e8;
    cursor: pointer;
    display: block;
    font-size: 1rem;   
    margin-bottom: 10px;
    padding-right: 20px;
  }
}  

/* Footer */
.footer {
  background: linear-gradient(0deg, #f4f0e8,
        #ce3f01,
        #a33201,
        #a33201,
        #a33201,
        #a33201,
        #ce3f01,
        #f4f0e8);
  bottom: 0;
  color: #f4f0e8;
  display: flexbox;
  height: 5rem;
  padding-top: .5rem; 
  width: auto;
}

.singleCol {
  height: 2rem;
  margin: auto;
  width: 140px;
}

.social-media-icons-white a {
  color: #f4f0e8;
  font-size: 2rem;
  text-decoration: none;
}

.social-media-icons-white a:hover {
  color: grey;
  font-size: 2rem;
}

.social-media-icons-white a::after {
  color: grey;
  font-size: 2rem;
}
